@media(max-width: 1600px){
    section.please-select-section {
        margin-top: -100px;
        margin-bottom: 50px;
        width: 100%;
        min-height: auto;
    }
    .celender-flex-box {
        width: 100%;
        max-width: 372px;}
}
@media(max-width: 1400px){
    .container-please{
      
        max-width: 1100px;
        margin:0 auto;
      }
      section.please-select-section {
        margin-top: -100px;
        margin-bottom: 50px;
        width: 100%;
        min-height: 80vh;
    }
}

@media(max-width: 1350px){
    .video-player {
        width: 100%;
        max-width: 1092px;
        height: 68px;
        position: absolute;
        left: 49%;
        top: 27%;
        transform: translate(-40%,-40%);
        display: none;
    }

    .container-please{
        width:100%;
        max-width: 1100px;
        margin:0 auto;
      }
}

@media(max-width: 1300px){
    .search-box {
        position: relative;
        display: flex;
        width: 100%;
        max-width: 172px;}
    
        .header .logo {
            max-width: 315px;
            height: 43px;
        }

        .dropdown button img {
            width: 26px;
        }


        .header .menu > .menu-item > a {
            color: var(--Heading-Text, #0E0D04);
            font-size: 16px;}

            .dropdown button {
               
                font-size: 16px;}
                .video-background .background {
                    width: 100%;
                    max-width: 1005px;
                    min-height: 408px;
                }

                .container-please {
                    max-width: 1106px;
                    margin: 0 auto;
                }
                button.owl-next {
                    position: absolute;
                    right: 0px;
                    top: 0px;
                }
                .flying-dropdown-box {
                    padding: 15px 101px 15px 15px;}


}
@media(max-width: 1182px){
    .banner-login-vedio {
        flex-wrap: wrap;
        justify-content: left;
        margin-top: -140px;
        align-items: center;
    }

    .play-btn {
        left: 50%;
        top: 64%;
    }
        div.video-player {
            width: 100%;
            max-width: 1020px;
            height: 68px;
            position: absolute;
            left: 41%;
            top: 52%;
            transform: translate(-40%,-40%);
            display: none;
        }

        .banner-menu {
            display: flex;
            flex-direction: row;
            position: relative;
            margin-top: 135px;
            align-items: center;
            justify-content: space-between;
        }
        .banner-menu li {
            margin-bottom: 14px;
        }
        .banner-menu li {
            display: flex;
            width: 100%;
            max-width: 163px;
            height: 49.885px;
            padding: 18px 7px;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;
            background: #FFF;
            margin-bottom: 1px;
            justify-content: center;
            margin-left: 2px;
        }
        .banner-menu li a {
            color: var(--Heading-Text, #0E0D04);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 12px;
        }
        .vedio-right {
            margin-top: -147px;
        }
        .video-background .background {
            width: 100%;
            max-width: 1005px;
            min-height: 230px;
        }
}
@media(max-width: 1200px){
    .header .logo {
        max-width: 234px;
        height: 43px;
    }
    .logo img {
        width: 167px;
    }
    .video-player {
        width: 100%;
        max-width: 856px;
        height: 68px;
        position: absolute;
        left: 48%;
        top: 27%;
        transform: translate(-40%,-40%);
        display: none;
    }
    .Passenger-box {
        display: inline-flex;
        gap: 10px;
        width: 100%;
        max-width: 169px;}
}
@media(max-width: 1100px){
    .header .logo {
        max-width: 180px;
        height: 43px;
    }
    .header .menu > .menu-item {
        display: inline-block;
        margin-left: -6px;
        position: relative;
        box-sizing: border-box;
    }
    .banner-section {
        background-color: #F9F7EC;
        padding: 0 5px;
    }
    .container-please {
        max-width: 1002px;
        margin: 0 auto;
        padding: 0px 53px;
    }
    button.owl-next {
        position: absolute;
        right: -57px;
        top: 0px;
    }
}
@media (max-width: 1100px){
.search-box {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 146px;
}
.flying-dropdown-box {
    padding: 15px 43px 15px 15px;}


}

@media (max-width: 991px){
    li.responsive-none {
        display: none;
    }
    .banner-menu li {
        display: flex;
        width: 100%;
        max-width: 117px;
    }
    .please-tilte h2 {
      
        font-size: 25px;
        
    }
    .tiket-from-box {
        display: flex;
        gap: 12px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .flying-dropdown-box {
        padding: 15px 154px 15px 15px;
    }
    
}

@media (max-width: 767px){

    .please-select-box {
        display: flex;
        width: 100%;
        max-width: 181px;}

        .banner-menu li {
            display: flex;
            width: 100%;
            max-width: 100px;
            height: 49.885px;
            padding: 18px 5px;
        }
        .banner-menu li a {
            color: var(--Heading-Text, #0E0D04);
            font-size: 14px;

}
li.responsive-none {
    display: none;
}
.banner-menu {
    margin-top: 55px;
}
.vedio-right {
    margin-top: -411px;
}

.play-btn {
    left: 50%;
    top: 53%;
}
section.please-select-section {
    margin-top: -221px;
    margin-bottom: 50px;
    width: 100%;
    min-height: 80vh;
}
.please-select-box span{
 
font-size: 16px;

  }
  .please-select-box img {
    width: 100%;
    max-width: 45px;
    height: 45px;
}
.please-select-box {
    
    max-width: 203px;
    height: 141px;
    padding: 27px 23px;

    gap: 8px;
   
}

button.owl-prev img {
    width: 126px;
}
button.owl-next img {
    width: 112px;
}
.please-tilte h2 {
      
    font-size: 22px;
    
}
.please-tilte h2 {
      
    font-size: 18px;
    line-height: 36px;
}
}
@media (max-width: 700px){
    .please-select-box {
        display: flex;
        width: 100%;
        max-width: 170px;}
        button.owl-next {
            position: absolute;
            right: -57px;
            top: 0px;
        }
       
    
}

@media (max-width: 550px){
    .banner-menu li {
        display: flex;
        width: 100%;
        max-width: 71px;
        height: 38.885px;
        padding: 18px 5px;
    }
    li.responsive-none {
        display: none;
    }
}

@media (max-width: 450px){
    li.login {
        max-width: 104px;
    }
    li.contact {
        max-width: 67px;
    }
    li.service {
        max-width: 67px;
    }
    li.payment {
        max-width: 67px;
    }
    li.menu {
        max-width: 50px;
    }
    .video-background .background {
        width: 100%;
        max-width: 1005px;
        min-height: 212px;
    }
    .please-tilte h2 {
      
        font-size: 18px;
        line-height: 36px;
    }
}

@media (max-width: 360px){
    li.login {
        max-width: 99px;
    }
    li.contact {
        max-width: 58px;
    }
    li.service {
        max-width: 58px;
    }
    li.payment {
        max-width: 58px;
    }
    li.menu {
        max-width: 47px;
    }
}
@media (max-width: 356px){
    .banner-menu {
        display: flex;
        flex-direction: row;
        position: relative;
        margin-top: 49px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}
