/*responsive-1900-start*/
@media (max-width: 1900px) {

  .banner-image-right img {
    position: relative;
    max-width: 665px;
    height: 590px;
    left: 0;
    top: 50px;
    z-index: 1;
}
  
}


/*responsive-1900-end*/


/*responsive-1350-start*/
@media (max-width: 1350px) {
  .logo {
    width: 100%;
    max-width: 100px;
}

.menu-list li a {
  color: #111305;
  font-size: 17px;
  margin-left: 56px;
}
.search-box {
  position: relative;
  width: 100%;
  max-width: 268px;}
  .banner-image-right img {
    position: relative;
    max-width: 584px;
    height: 548px;
    left: 0;
    top: 50px;
    z-index: 1;
}
  .banner-content-left h2 {
    color: #111305;
    font-size: 40px;}

    .article-item {
      position: relative;
      width: 360px;
      min-height: 398px;}

      .article-img img {
        width: 360px;
    }

    .fast-item-name h3 {
      color: #111305;
      font-size: 16.472px;
      font-style: normal;
      font-weight: 500;
      line-height: 27.9px;
  }
  .fast-item-content img {
    width: 60px;
}
.fast-item-name p {
  color: #667085;
  font-size: 12.923px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.9px;
}
    .footer-right-menu-list ul {
      margin-left: 60px;
  }
  .floow-us {
    margin: 0 58px;}
.small-image-item img {
  width: 116px;
  height: 92px;
  flex-shrink: 0;
}
#mainimg {
  max-width: 553px;
  height: 403px;
  flex-shrink: 0;
}
.product-right {
  max-width: 600px;
  padding: 0 5px; 
}
.product-right h3 {
 
  font-size: 26px;
  
  width: 452px;
  height: 41px;
 
}
.product-right p {
  
  font-size: 14px;
 
  width: 358px;
}
.buy-now {
  display: flex;
  width: 231px;
  height: 45px;}
  .buy-now a {
    color: #FFF;
    text-align: center;
    text-decoration: none;
    font-size: 16px;}
    .add-to-cart-button {
      display: flex;
      width: 145px;
      height: 37px;}
      .nice-number button {
      
        width: 44px;
        height: 50px;
        flex-shrink: 0;
        font-size: 31px;}
        .nice-number input {
          padding: 0 5px;
          border: none;
          font-size: 27px;

      }
      .nice-number button {
      
        width: 31px;
        height: 37px;
       
        font-size: 31px;

    }
    .add-to-cart-button a {
      font-size: 16px; 
  }
}
/*responsive-1350-end*/
/*responsive-1250-start*/
@media (max-width: 1250px) {
  .footer-right-menu-list ul {
    margin-left: 36px;
}

.floow-us {
  margin: 0 37px;}
  #mainimg {
    max-width: 480px;
    height: 403px;
    flex-shrink: 0;
}
.owl-nav {
  position: absolute;
  right: 0px;
  top: -52px;
}
}
/*responsive-1250-end*/
/*responsive-1150-start*/
@media (max-width: 1150px) {
  .search-box {
    position: relative;
    width: 100%;
    max-width: 268px;}

    .banner-image-right img {
      position: relative;
      max-width: 600px;
      height: 488px;}
      .bio-product-box .bio-product-itm-right img {
        width: 398px;
        height: 379px;}
        .article-box {
          display: flex;
          justify-content: space-between;}

          .article-item {
            position: relative;
            width: 300px;
            min-height: 398px;}
      
            .article-img img {
              width: 300px;
          }

          .footer-right-menu-list ul {
            margin-left: 25px;
        }

        .footer-left-content {
          max-width: 420px;
          min-height: 397px;
      }
      .pyment-items {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
    }
    #mainimg {
      max-width: 403px;
      height: 403px;
      flex-shrink: 0;
  }
}
/*responsive-1150-end*/
/*responsive-1050-start*/
@media (max-width: 1050px) {
  .search-box {
    position: relative;
    width: 100%;
    max-width: 220px;}

    .banner-content-left p{
      color: #667085;
      font-size: 14px;
      padding: 4px 0;
    }

    .shop-button .shop {
      font-size: 14px;
      max-width: 150px;
      width: 100%;
      height: 46px;
      padding: 17px 36px;}

      .banner-content-left h2 {
        color: #111305;
        font-size: 35px;
        line-height: 58px;
    }

    .bio-product-itm-left h2 {
        font-size: 35px;}

        .bio-product-itm-left p {
          font-size: 15px;}

          .bio-product-itm-left .shop-naw {
            width: 141px;
            padding: 13px 16px;}

            .bio-product-box .bio-product-itm-right img {
              width: 364px;
              height: 379px;
          }
          #mainimg {
            max-width: 363px;
            height: 403px;
        }
}
/*responsive-1150-end*/

/*responsive-991-start*/
@media (max-width: 991px) {

    body.disabledScroll{
        overflow: hidden;
    }
  .icon{
    display: block;
  }
  .icon.hide{
    display:none;
  }
  .navbar .menu-list{
    position: absolute;
    top:0;
    left:-100%;
    height:100vh;
    width:100%;
    max-width: 400px;
    background-color: #111305;
    display: block;
    padding: 40px 0;
    text-align: left;
    transition: all 0.3s ease;
  }
  .navbar .menu-list.active{
    left:0%;
  }
  .navbar .menu-list li{
margin-top:45px;
  }

  .navbar .menu-list li a{
    font-size: 23px;
    color:white;
  }

.icon{
    display:block;
}
.shop-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.search-box{
  display: none;
}
.cart{
  display: none;
}
.my-account-button {
display: none;}

.dropdown {
  display: none;
}

.banner-box {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
}
.banner-content-left {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.shop-button .shop {
  font-size: 14px;
  max-width: 235px;
  width: 100%;
  height: 46px;
  padding: 17px 36px;
margin-right: 0px;
margin-top: 20px;
margin-bottom: 20px;}

.banner-content-left h2 {
  color: #111305;
  font-size: 35px;
  line-height: 58px;
  max-width: 708px;
}

.banner-section {
  

  padding-top: 183px;}
  .banner-image-right img {
    display: none;
}
.banner-section {

  min-height: 90vh;}

  .bio-product-box .bio-product-itm-right img {
    width: 364px;
    height: 379px;
    display: none;
}
.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}
.article-box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}
.fast-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F5F5F5;
  max-width: 1350px;
  min-height: 140px;
  margin: 0 auto;
  padding: 0 34px;
  border-radius: 5.687px;
  background: #F5F5F5;
  flex-wrap: wrap;
}
.fast-item {
  margin-bottom: 30px;
}
.footer-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-left-content {
  max-width: 600px;
  min-height: 397px;
}

.footer-right-menu-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-between;
}
.product-section ul {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 41px 0;
}
.product-section ul li {
  display: flex;
  padding: 10px 28px;
  justify-content: left;
  align-items: center;
  margin-left: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  font-size: 16px;
  background: #F5F5F5;
  color: #667085;
  cursor: pointer;
  margin-bottom: 20px;
}

.article-item {
  position: relative;
  width: 300px;
  min-height: 398px;
  margin-bottom: 30px;
}

.product-details-box {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tab-box {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #F5F5F5;
  position: relative;
  min-height: 62px;
  padding: 10px 20px;
  flex-wrap: wrap;
  flex-direction: column;
}

#mainimg {
  max-width: 642px;
  height: 337px;
  flex-shrink: 0;
}
.small-image {
display: flex;
justify-content: left;
flex-wrap: wrap;
flex-direction: row;
}
.small-image-item img {
width: 136px;
height: 94px;
flex-shrink: 0;
}
.product-details-box {
max-width: 100%;
display: flex;
justify-content: flex-start;
flex-wrap: wrap;
}
.product-left {
  display: flex;
  flex-direction: column;
}
}

/*responsive-991-end*/
/*responsive-767-start*/
@media (max-width: 767px) {
  .bio-product-itm-left h2 {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
     width:400px;
}
.bio-product-itm-left p {
  color: rgba(255, 255, 255, 0.70);
  font-feature-settings: 'clig' off, 'liga' off;
    width: 388px;}

    .product-left {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
  }

  }

  @media (max-width: 500px) {
    .bio-product-itm-left p {
      color: rgba(255, 255, 255, 0.70);
      font-feature-settings: 'clig' off, 'liga' off;
      width: 314px;
  }
  .bio-product-itm-left h2 {
    font-size: 27px;
}
.bio-product-itm-left .shop-naw {
  width: 121px;
  padding: 10px 16px;
}
.bio-product-itm-left .shop-naw a {
  color: #111305;
  text-align: center;
  text-decoration: none;
  font-size: 14px;}

  .bio-product-itm-left h2 {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    width: 304px;
}

.instok img {
  /* padding: 2px 0px; */
  position: absolute;
  right: 0;
}
.product-details {
  padding-top: 155px;
  display: none;
}
.title-flex.title {
  font-size: 30px;
}
  }
/*responsive-767-end*/

/*responsive-360-start*/
  @media (max-width: 360px) {
    .bio-product-itm-left h2 {
      color: #FFF;
      font-feature-settings: 'clig' off, 'liga' off;
      width: 254px;
  }
  .bio-product-itm-left p {
    color: rgba(255, 255, 255, 0.70);
    font-feature-settings: 'clig' off, 'liga' off;
      width: 280px;}
    

    .bio-product-itm-left h2 {
      font-size: 22px;
  }

  .product-right p {
    color: var(--paragrapg-color, #909AB0);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.722px;
    padding: 15px 0px 32px 0px;
    width: 326px;
}
.product-right h3 {
  color: var(--brand-color, #111305);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 331px;
  height: 41px;
  flex-shrink: 0;
  padding: 10px 0px 42px 0px;
}
.buy-now {
  width: 153px;
  height: 39px;
}
.add-to-cart-button {
  display: flex;
  width: 122px;
  height: 34px;}

}
  /*responsive-360-end*/